*{
  box-sizing: border-box;
}

body{
  display: inline-block;
  margin-left: 500px;
  margin-top: 200px;
  width: 400px;
}

.buttonRegular{
  background-color: rgb(96,180,100);
  color: white;
  height: 70px;
  font-size: 22px;
  vertical-align: top;
  width: 70px;

}

.buttonLite{
  background-color: rgb(125,193,128);
  color: rgb(75, 110, 69);
  font-size: 22px;
  height: 70px;
  width: 70px;

}
.rowOne{
  background-color: SpringGreen;
  display: inline-block;
  height: 68px;
  margin-bottom: 2px;
  vertical-align: top;
  width: 294px;
}

.rowTwo {
  display: inline-block;;
  background-color: SpringGreen;
  width: 294px;
}

.rowThree {
  display: block;
  background-color: SpringGreen;
  width: 294px;
}

.rowFour {
  display: block;
  background-color: SpringGreen;
  width: 294px;
}

 .rowFive {
   display: block;
   background-color: SpringGreen;
   width: 294px;
 }

 .outputWindow{
   background-color: rgb(96,180,100);
   border-style: solid;
   border-color: white;
   border-width: thin;
   display: inline-block;
   font-size: 50px;
   height: 70px;
   margin: 0;
   text-align: right;
   padding-top: 17px;
   vertical-align: top;
   width: 218px;
 }
