*{
  box-sizing: border-box;
}

/* moving the calculator to center */
body{
  display: inline-block;
  margin-left: 500px;
  margin-top: 200px;
  width: 400px;
}

/* Most buttons have same properties here (except operands) */
.buttonRegular{
  background-color: rgb(96,180,100);
  color: white;
  font-size: 22px;
  height: 70px;
  vertical-align: top;
  width: 70px;
}

/* All buttons for operands are lighter in color */
.buttonLite{
  background-color: rgb(125,193,128);
  color: rgb(75, 110, 69);
  font-size: 22px;
  height: 70px;
  width: 70px;
}

/*  rowOne is Clear and Output window */
.rowOne{
  background-color: SpringGreen;
  display: inline-block;
  height: 68px;
  margin-bottom: 2px;
  vertical-align: top;
  width: 294px;
}

/* rowTwo is butons 7   8   9    /       */
.rowTwo {
  display: inline-block;;
  background-color: SpringGreen;
  width: 294px;
}

/* rowThree is buttons 4   5   6   *          */
.rowThree {
  display: block;
  background-color: SpringGreen;
  width: 294px;
}

/* rowFour is buttons 1   2   3   -       */
.rowFour {
  display: block;
  background-color: SpringGreen;
  width: 294px;
}

/* rowFive is buttons 0  .  =   +   */
 .rowFive {
   display: block;
   background-color: SpringGreen;
   width: 294px;
}

 .outputWindow{
   background-color: rgb(96,180,100);
   border-style: solid;
   border-color: white;
   border-width: thin;
   color: white;
   display: inline-block;
   font-size: 40px;
   height: 70px;
   margin: 0;
   text-align: right;
   padding-top: 17px;
   vertical-align: top;
   width: 218px;
 }
