*{
  box-sizing: border-box;
}

.wholeArea{
  background-color: silver;
  display: inline-block;
  height: auto;
  margin-left: 200px;
  margin-top: 50px;
  width: 800px;
}

.mainTitle{
  font-size: 50px;
  font-weight: lighter;
  margin-top: 50px;
  text-align: center;
  width: 800px;
}

.listBox {
    background-color: white;
    height: auto;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
}

.itemsList{
  width: 720px;
  margin: 0;
}

.itemsEach{
  border: 2px solid black;
  display: inline-block;
  height: 40px;
  margin-top: -2px;
  width: 720px;
}

.itemsEachStrike{
  border: 2px solid black;
  display: inline-block;
  height: 40px;
  margin-top: -2px;
  text-decoration: line-through;
  width: 720px;
}

.itemsCheckbox{
  align-items: center;
  display: inline-block;
  }

.itemsDescription{
  display: inline-block;
  padding-top: 15px;
  width: 78%;
}

.itemsAmount{
  float: right;
  height: 20px;
  margin-bottom: 0;
  text-align: right;
  padding-right: 4px;
  width: 15%;
}

.formBox{
  height: 70px;
  width: 720px;
}

.itemInputAmt{
  display: inline-block;
  font-size: 20px;
  height: 70px;
  padding-top: 30px;
  width: 75px;
}

.itemInputText{
  display: inline-block;
  font-size: 20px;
  height: 70px;
  padding-top: 30px;
  width: 520px;
}

.itemInputAdd{
  background-color: green;
  color: white;
  display: inline-block;
  height: 70px;
  text-align: center;
  padding-top: 25px;
  vertical-align: top;
  width: 117px;
}
