*{
  box-sizing: border-box;
}

.mainTitle{
  background-color: gray;
  font-size: 80px;
  text-align: center;
  height: 120px;
  margin: 0;
  margin-bottom: 40px;
  width: 100%;
}

.albumSection{
  width: 100%;
}
.albumRow{
  display: inline-block;
  margin-left: 15%;
  width: 80%;
}

.albumEach{
  display: inline-block;
  height: 250px;
  width: 250px;
}

.albumImage{
  height: 80%;
  padding-left: 30px;
  width: 250px;
}

.albumTitle{
  height: 20%;
  text-align: center;
  width: 250px;
}
