*{
  box-sizing: border-box;
}

.mainTitle{
  background-color: gray;
  display: inline-block;
  font-size: 80px;
  text-align: center;
  height: 120px;
  margin: 0;
  margin-bottom: 40px;
  width: 100%;
}

.albumButton{
  display: inline-block;
  height: 40px;
  margin-left: 30px;
  margin-top: 40px;
  width: 130px;
}
.albumSection{
}

.albumRow{
  display: inline-block;
  margin-left: 220px;
  padding-top: 20px;
}

.albumEach{
  display: inline-block;
  height: 250px;
  width: 250px;
}

.photoButton{
  border-radius: 10px;
  display: inline-block;
  height: 30px;
  margin-left: 30px;
  margin-top: 10px;
  width: 150px;
}

.listAlbums{
  display: inline-block;
  margin-bottom: 0;
}

.albumImage{
  display: inline-block;
  height: 80%;
  width: 100%;
}

.albumTitle{
  background-color: black;
  color: white;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  margin-top: 0;
}

.mainSection{
  display: inline-block;
  width: 80%
}

.photoPage{
  background-color: grey;
  height: 800px;
}

.titlePhoto{
  display: inline-block;
  padding-left: 160px;
}
.photo{
  height: 500px;
  margin-left: 270px;
  width: 700px;
}
.sideAlbums{
  background-color: gray;
  display: inline-block;
  height: 600px;
  margin-bottom: 0;
  width: 200px;
}

.sideMain{
}

.titleAlbum{
  display: inline-block;
  padding-left: 450px;
}

.titlePhoto {
  margin-left: 200px;
}

.image
