*{
  box-sizing: border-box;
}

.wholePage{
  background-color: skyblue;
}

.eachMsg{
  background: lightgrey;
  border: solid black 1px;
  display: inline-block;
  font-size: 20px;
  height: auto;
  margin: 2px;
  overflow: auto;
  padding-left: 2px;
  width: 1100px;
}

.msgDate{
  display: inline-block;
  font-size: 13px;
  height: auto;
  vertical-align: top;
  width: 65px;
}

.listChat {
  background-color: lightgrey;
  border: 8px solid black;
  border-radius: 10px;
  height: 300px;
  list-style: none;
  margin-left: 320px;
  overflow: scroll;
  overflow-x: inherit;
  padding-left: 10px;
  width: 50%;
}

.createChat {
  background-color: DarkSeaGreen;
  border: solid 2px;
  border-radius: 6px;
  color: purple;
  display: inline-block;
  font-size: 30px;
  height: 40px;
  line-height: 40px;
  margin-left: 25%;
  margin-top: 10px;
  padding-top: 0px;
  text-align: center;
  transform: translateY(4px);
  width: 638px;
}

.textChat {
  border-radius: 6px;
  display: inline-block;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  margin-left: 25%;
  margin-bottom: 10px
  padding-top: 0px;
  transform: translateY(4px);
  width: 638px;
}

.chatTitle {
  background-color: DarkSeaGreen;
  border: solid 2px;
  color: purple;
  font-size: 50px;
  font-weight: bolder;
  opacity: 0.8;
  margin-left: 25%;
  padding: 4px;
  text-align: center;
  width: 638px;
}
