*{
  box-sizing: border-box;
}

body{
  margin-top: 100px;
}
/* This is default class of each element to hide description */
.quoteClass{
  background-color: tan;
  border: 1px solid black;
  height: 30px;
  overflow: hidden;
  margin-left: 350px;
  text-align: center;
  width: 400px;
}

.quoteTitle{
  font-size: 15px;
  text-align: left;
  text-decoration: underline;
}

/* This is the class to expand the window to allow the description to show */
.quoteExpand{
  background-color: Beige;
  border: 3px solid LightBlue;
  height: 200px;
  margin-left: 50px;
  transition: height .5s ease-in-out;
  width: 1050px;
}

.p1{
  background-color: Beige;
}

.p2{
  background-color: Beige;
}

.p3{
  background-color: Beige;
}
