{
  box-sizing: border-box;
}

.quoteClass{
  border: 1px solid LightBlue;
  height: 20px;
  overflow: hidden;
  width: 1000px;
}

.quoteExpand{
  background-color: LightSteelBlue;
  border: 3px solid LightBlue;
/*  height: 150px;  */
  padding-bottom: 40px;
  width: 1000px;

}
