*{
  box-sizing: border-box;
  font-family: helvetica;
}

/* ADD BIO option below User name  */
.addBio{
  color: CornFlowerBlue;
  font-size: 15px;
  margin-left: 130px;
}

/* Contains all HTML elements built in javascript  */
.article{
  margin: 0;
  width: 1200px;
}

/* Properites of User avatar  */
.avatar{
  display: inline-block;
  margin-left: 130px;
  height: 229px;
  width: 230px;
}

/* Element to display Joined On date  */
.createdDate{
  font-size: 14px;
  margin-left: 130px;
  width: 250px;
}

/* Green Edit Profile button in Pro Tips box */
.editProfile{
  background-color: LimeGreen;
  color: white;
  float: right;
  font-size: 12px;
  font-weight: bolder;
  height: 30px;
  margin-top: 15px;
  width: 100px;
}

/* Black & white Edit Profile button below Username */
.editProfileLower{
  font-size: 14px;
  font-weight: bolder;
  height: 35px;
  margin-left: 130px;
  width: 230px;
}

/* Followers selector  */
.followersTitle{
  display: inline-block;
  font-size: 12px;
  padding-left: 40px;
  padding-top: 50px;
}

/* Following selector  */
.followingTitle{
  display: inline-block;
  font-size: 12px;
  padding-left: 40px;
  padding-top: 50px;
}

/* Username selector  */
.loginName{
  color: #666;
  display: block;
  font-size: 20px;
  font-style: normal;
  margin-left: 130px;
}

/* Overview selector  */
.overviewTitle{
  color: #333;
  display: inline-block;
  font-size: 12px;
  padding-left: 40px;
  padding-top: 50px;
  width: 100px;
}

/* Repositories selector   */
.repositoriesTitle{
  display: inline-block;
  font-size: 12px;
  padding-left: 40px;
  padding-top: 50px;
}

/* Selector to modify counter value */
.spanTitle{
  background-color: #eee;
  border-radius: 20px;
  color: #666;
  display: inline-block;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
}

/* Stars selector   */
.starsTitle{
  display: inline-block;
  font-size: 12px;
  padding-left: 40px;
  padding-top: 50px;
}

/* Selector for element containing Overview, Repositories, etc.   */
.titlesBox{
  border-bottom: 1px solid LightGrey;
  display: block;
  height: 100px;
  width: 750px;
}

/* Selector to control Pro Tip sentence   */
.tipTitle{
  font-size: 14px;
  margin: 0;
  padding-left: 10px;
  padding-right: 30px;
  padding-top: 20px;
}

/* Selector for element that contains Pro Tip and Edit Profile button */
.tipBox{
  background-color: rgb(241,246,251);
  border: 1px solid LightBlue;
  border-radius: 3px;
  display: inline-block;
  height: 80px;
  margin-left: 30px;
  padding-right: 10px;
  vertical-align: top;
  width: 750px;
}
