*{
  box-sizing: border-box;
}

.chooseNumber{
  text-align: center;
}



.box{
margin: 0;
display: inline-block;
}

.square{
  border: solid 1px;
  display: inline-block;
  height: 40px;
  margin: 0;
  padding: 3px;
  text-align: center;
  width: 40px;
}

.all81Squares{
  height: 122px;
  width: 124px;
}

.allSquares{
  border: solid 2px;
  display: inline-block;
  font-size: 20px;
  height: 132px;
  margin: 0;
  width: 124px;
}

.box1{
  border: solid 2px;
  display: inline-block;
  height: 124px;
  margin: 0;
  width: 124px;
}

.box2{
  border: solid 2px;
  display: inline-block;
  height: 124px;
  margin: 0;
  width: 124px;
}

.box3{
  border: solid 2px;
  display: inline-block;
  height: 124px;
  margin: 0;
  width: 124px;

}

.box4{
  border: solid 2px;
  display: inline-block;
  height: 124px;
  margin: 0;
  width: 124px;
}

.row1{
  height: 42;
  width: 375
}

.row2{
  height: 42;
  width: 375
}

.row3{
  height: 42;
  width: 375
}

.entireBox{
  display: inline-block;
  height: 195px;
  margin: 0;
  width: 195px;
}

.solveButton{
  background-color: greenyellow;
  border: solid 2px;
  display: block;
  height: 20px;
  margin-top: 40px;
  width: 100px;
}

.resetButton{
  background-color: crimson;
  border: solid 2px;
  display: block;
  height: 20px;
  width: 100px;
}
