*{
  box-sizing: border-box;
}

body{
  background-color: grey;
}

.addButton{
  display: block;
  height: 15px;
  width: 890px;
}

.entireArea{
  background-color: white;
  margin-left: 200px;
  width: 890px;

}
.mainArea{
    height: 1250px;
  width: 890px;
}

.linkNoUnderline{
    text-decoration: none;
}

.topArea{
  float: right;
  vertical-align: top;
  width: 800px;
}

.topLeftIcon{
  margin-left: 15px;
  margin-top: 15px;
}

.topLeftTitle{
  color: RoyalBlue;
  display: block;
  margin-left: 15px;
  font-size: 20px;
  margin-bottom: 0;
}

.topLeftDate{
  margin-left: 15px;
  margin-top: 0;
  width: 100px;
}

.introText{
  display: inline-block;
  font: helvetica;
  font-size: 20px;
  margin-left: 15px;
}

.commentAuthorIcon{
  display: inline-block;;
  margin-left: 15px;
  margin-top: 15px;
  width: 80px;
}


.commentAuthorName {
  display: inline;
  font: helvetica;
  font-weight: bolder;
  font-size: 20px;
  vertical-align: top;
  margin-top: 15px;
  word-wrap: break-word;
}

.commentAreaText{
    float: right;
    margin-top: 15px;
    vertical-align: top;
    width: 790px;
}

.commentText {
  display: inline;
  font: helvetica;
  font-size: 20px;
  margin-top: 45px;
  vertical-align: top;
  word-wrap: break-word;
}

.commentDate {
  display: block;
  font: helvetica;
  opacity: .5;
  margin-left: 100px;
}

.moreComments{
  color: RoyalBlue;
  display: inline-block;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 620px;
  margin-bottom: 5px;
}

.xOfY{
  display: inline-block;
  font-size: 20px;
  opacity: .5;
  width: 70px;
}

.bottomFooter{
  vertical-align: bottom;
  height: 50px;
  width: 890;
}
li {
  list-style: none;
}
